header > img {
  display: flex;
  border-radius: 100%;
  width: 5%;
  height: 5%;
}

header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
  margin-top: 2%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 20px;
}

nav > a {
  font-size: 2vw;
}
