@media only screen and (max-width: 762px) {
  .blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .blocks > div {
    margin-top: 5%;
  }
}
